version: "3.9"

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge

services:
  web:
    build: .
    container_name: django_app
    expose:
      - "8000"                # samo interno, nema port mapping
    env_file:
      - .env.prod
    volumes:
      - static_volume:/app/staticfiles
    depends_on:
      - db
    networks:
      - backend               # Django je SAMO u backend mreži

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
      - static_volume:/static:ro
    depends_on:
      - web
    networks:
      - frontend              # prima zahteve spolja
      - backend               # prosleđuje zahteve web servisu

  db:
    image: postgres:16-alpine
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env.prod
    networks:
      - backend               # baza nikad nije dostupna frontendu

  redis:
    image: redis:7-alpine
    container_name: redis
    networks:
      - backend               # samo celery + django


  celery:
    build: .
    command: celery -A config worker -l info
    depends_on:
      - redis
      - web
    env_file:
      - .env.prod
    networks:
      - backend               # nema razloga da vidi frontend


  postgres-backup:
    build: ./postgres-backup
    depends_on:
      - db
    env_file:
      - .env.prod
    volumes:
      - ./backups/postgres:/backups
    networks:
      - backend               # vidi bazu, ništa drugo


volumes:
  static_volume:
  postgres_data: