version: "3.9"

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge

services:
  web:
    build: .
    container_name: django_app
    expose:
      - "8000"                # samo interno, nema port mapping
    env_file:
      - .env.prod
    volumes:
      - static_volume:/app/staticfiles
    depends_on:
      - db
    networks:
      - backend               # Django je SAMO u backend mreži
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/health/ || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s       # daje Django serveru vremena da startuje pre prve provere.


  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
      - static_volume:/static:ro
    depends_on:
      - web
    networks:
      - frontend              # prima zahteve spolja
      - backend               # prosleđuje zahteve web servisu

  db:
    image: postgres:16-alpine
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env.prod
    networks:
      - backend               # baza nikad nije dostupna frontendu
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 30s
      timeout: 5s
      retries: 5


  redis:
    image: redis:7-alpine
    container_name: redis
    networks:
      - backend               # samo celery + django
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 5s
      retries: 3



  celery:
    build: .
    command: celery -A config worker -l info
    depends_on:
      - redis
      - web
    env_file:
      - .env.prod
    networks:
      - backend               # nema razloga da vidi frontend
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "celery", "-A", "config", "inspect", "ping"]
      interval: 60s
      timeout: 10s
      retries: 3


  postgres-backup:
    build: ./postgres-backup
    depends_on:
      - db
    env_file:
      - .env.prod
    volumes:
      - ./backups/postgres:/backups
    networks:
      - backend               # vidi bazu, ništa drugo


volumes:
  static_volume:
  postgres_data: