Django>=4.2
gunicorn
psycopg2-binary     # za komunikaciju sa postgresql
celery              # task runner za sporije procese u backgroundu
redis               # message queue (message broker)
sentry-sdk>=1.40    # za monitoring na sajtu
django-cors-headers # za cors